[package]
name = "sabos-user-std"
version = "0.1.0"
edition = "2024"

[profile.dev]
panic = "abort"

[dependencies]
serde = { version = "1", features = ["derive"] }
serde_json = "1"

[profile.release]
panic = "abort"
opt-level = "z"
lto = true
strip = "symbols"
